html{
	font-family: mixfickle;
	background-color: pink;
	text-align: center;
}

p{
	font-size: 25px;
}

ul li{
	font-size: 40px;
}

h1{
	font-size: 60px;
	text-align: center;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 35px
}
